<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iEmirati.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADC1F4862CBB03CB00534ACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADC1F4982CBB03CC00534ACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADC1F4A22CBB03CC00534ACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
